@use '/src/styles/global' as v;

.password-strength-bar {
  height: 30px;
  width: 100%;
  font-size: map-get(v.$fontSizes, small);
  font-weight: 500;
  color: v.$dark;
  margin-bottom: map-get(v.$margins, small);

  .bars-container {
    height: 5px;
    width: 100%;
    display: flex;
    gap: map-get(v.$margins, smallest);
    margin-bottom: map-get(v.$margins, smallest);

    div {
      height: 5px;
      width: 25%;
      background-color: v.$transparentDark;
    }

    .active {
      $colors: (
        1: v.$red,
        2: #e6b800,
        3: #009900,
        4: v.$blue,
      );

      @each $number, $color in $colors {
        &:nth-child(#{$number}) {
          background-color: $color;
        }
      }
    }
  }
}
