@use '../../../../styles/global' as v;

.home_board {
  @include v.buttonOpacityEffects;

  height: inherit;
  width: inherit;
  border-radius: v.$primaryBorderRadius;
  display: flex;
  align-items: flex-start;
  text-align: start;
  color: white;
  background: none;
  padding: 0;

  .board_title {
    font-weight: 600;
    font-size: map-get(v.$fontSizes, medium);
    margin: map-get(v.$margins, main);
  }

  .board_bg {
    position: absolute;
    height: inherit;
    border-radius: inherit;
    z-index: -1;
    background: v.$dark;
    filter: brightness(0.8);
  }
}
