.board {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;

  .board_header {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .list_parent {
    position: absolute;
    top: 150px;
    width: max-content;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .add-list_btn {
      background-color: rgba($color: #fff, $alpha: 0.25);
      color: white;
      font-family: inherit;
      font-size: 24px;
      font-weight: 200;
      width: 275px;
      height: 65px;
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      transition: opacity 0.1s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
