@use '/src/styles/global' as v;

.board {
  position: sticky;
  user-select: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  .head {
    position: relative;
    flex-shrink: 0;
    height: 150px;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .head-btn {
      @include v.iconButton;

      position: absolute;
      height: 40px;
      width: 40px;
      font-size: map-get(v.$fontSizes, large);
    }

    .home_link-btn {
      padding: 0;
      left: 0;

      .home_link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: inherit;
      }
    }

    .show-board-menu_btn {
      right: 0;
    }

    .title_container {
      * {
        text-align: center;
        border-radius: v.$primaryBorderRadius;
        padding: map-get(v.$margins, smallest) map-get(v.$margins, main);
        font-size: map-get(v.$fontSizes, largest);
      }

      .board_title {
        display: flex;
        align-items: center;
        height: 50px;
        cursor: pointer;

        &:hover {
          background-color: rgba(#000, 0.2);
        }
      }

      .resize-container {
        height: 60px;
        border-radius: v.$primaryBorderRadius;
        padding: 0 map-get(v.$margins, small);
      }
    }
  }

  .list_parent {
    margin-top: 30px;
    height: 100%;
    max-width: 100vw;
    padding: map-get(v.$margins, smallest) 5vw 0;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;

    .add-list {
      width: 275px;
      padding-left: map-get(v.$margins, small);

      .add_btn {
        @include v.mainCreateButton(v.$transparentDark);

        color: white;
        width: inherit;
      }

      form {
        box-sizing: border-box;
        padding: map-get(v.$margins, small);
        height: 110px;
        width: inherit;
        background-color: v.$light;
        border-radius: v.$primaryBorderRadius;

        input {
          font-size: map-get(v.$fontSizes, medium);
          border-radius: v.$sharpBorderRadius;
        }

        .btn_container {
          .submit_btn {
            padding: 0;
            width: 130px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .board {
    .head {
      .title_container {
        * {
          font-size: 28px;
          padding-right: map-get(v.$margins, smallest);
          padding-left: map-get(v.$margins, smallest);
        }

        .board_title {
          height: 36px;
        }

        .resize-container {
          max-width: 240px;
          height: 46px;
        }
      }
    }
  }
}
