@use '/src/styles/global' as v;

.board {
  position: sticky;
  user-select: none;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;

  .head {
    position: relative;
    flex-shrink: 0;
    height: 150px;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > button {
      @include v.iconButton;

      position: absolute;
      height: 40px;
      width: 40px;
      font-size: map-get(v.$fontSizes, large);
    }

    .home_link-btn {
      padding: 0;
      left: 0;

      .home_link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: inherit;
      }
    }

    .show-board-menu_btn {
      right: 0;
    }

    .title_container {
      .board_title,
      .resize-text,
      .title_input {
        text-align: center;
        border-radius: v.$primaryBorderRadius;
        padding: map-get(v.$margins, smallest) map-get(v.$margins, main);
        font-size: map-get(v.$fontSizes, largest);
      }

      .board_title {
        height: 50px;
        cursor: pointer;

        &:hover {
          background-color: rgba(#000, 0.2);
        }
      }

      .resize-container {
        height: 60px;
        border-radius: v.$primaryBorderRadius;
        padding: 0 map-get(v.$margins, small);
      }
    }
  }

  .list_parent {
    margin-top: 30px;
    height: 100%;
    width: max-content;
    padding: 0 100px;
    display: flex;
    flex-direction: row;

    .add-list {
      .add_btn {
        @include v.mainCreateButton(v.$transparentDark);

        color: white;
        width: 275px;
      }

      form {
        box-sizing: border-box;
        padding: map-get(v.$margins, small);
        height: 110px;
        width: 275px;
        background-color: v.$light;
        border-radius: v.$primaryBorderRadius;

        input {
          height: 45px;
          padding: inherit;
          border-radius: v.$sharpBorderRadius;
        }

        .btn_container {
          .submit_btn {
            padding: none;
            width: 130px;
          }
        }
      }
    }
  }
}
