@use 'variables' as v;

h1 {
  font-size: map-get(v.$fontSizes, largest);
}

h2 {
  font-size: map-get(v.$fontSizes, large);
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

input,
textarea {
  font-family: inherit;
  box-sizing: border-box;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px v.$borderColor;

  &:focus {
    box-shadow: inset 0 0 0 2px v.$blue;
  }

  &.empty {
    box-shadow: inset 0 0 0 1px red;
  }
}

.resize-container {
  display: inline-block;
  position: relative;

  .resize-text {
    display: inline-block;
    visibility: hidden;
    white-space: pre;
  }

  .title_input {
    position: absolute;
    inset: 0;
  }
}

.title_input {
  font-size: inherit;
  font-weight: bold;
}
