@use '../../styles/global' as v;

.home {
  user-select: none;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;

  .head {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .log-out_btn {
      position: absolute;
      right: 20%;
      font-size: map-get(v.$fontSizes, medium);
      border-radius: v.$sharpBorderRadius;
      height: 40px;
      width: 100px;
    }
  }

  .boards {
    position: relative;
    align-self: center;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: map-get(v.$margins, large);
    place-items: center;

    .create-board_btn,
    a {
      height: 125px;
      width: 225px;
      padding: 0;
      border-radius: v.$primaryBorderRadius;
    }

    a {
      text-decoration: none;
    }

    .create-board_btn {
      @include v.buttonBgEffects(v.$light);
      font-size: map-get(v.$fontSizes, small);
    }
  }
}
