@use '../../styles/global' as v;

.home {
  user-select: none;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;

  .head {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .boards {
    align-self: center;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;

    & * {
      width: 225px;
    }

    & > a {
      color: white;
      text-decoration: none;
      height: 125px;
    }

    .create-board_btn {
      @include v.button(v.$light);

      border-radius: v.$primaryBorderRadius;
      font-size: map-get(v.$fontSizes, small);
      height: 125px;
      align-items: center;
      justify-content: center;
      padding: none;
    }
  }
}
