@use '../../styles/variables' as v;

.resize-container {
  display: inline-block;
  position: relative;

  .resize-text {
    display: inline-block;
    visibility: hidden;
    white-space: pre;
  }

  .title_input {
    position: absolute;
    inset: 0;
  }
}

.title_input {
  font-size: inherit;
  font-weight: bold;
}
