@use '../../../../../common/variables' as v;

.cardTitle {
  padding: 3px;
  cursor: pointer;
  margin: 0
}

.cardTitle:hover {
  background: rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 5px;
}

.cardTitleInput {
  width: 220px;
  font-size: v.$cards-font-size;
  font-family: v.$font;
}