@use '../../../../common/variables' as v;
@use "sass:math";

.list {
  @include v.borderPattern;

  position: relative;
  background-color: v.$lists-bg-color;
  height: fit-content;
  width: 400px;
  padding-bottom: 20px;
  margin-right: 40px;
  margin-bottom: 36px;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .deleteBtn {
      align-self: center;
      justify-self: right;
      color: darkred;
      border: 2px solid darkred;
      border-radius: 25%;
      width: 40px;
      height: 40px;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      padding: 0;
      cursor: pointer;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}