@use '../../../../styles/global' as v;

.card,
.card-slot {
  min-height: 50px;
  width: 95%;
  border-radius: v.$primaryBorderRadius;
}

.card {
  position: relative;
  border: 1px solid v.$borderColor;
  box-shadow: 0px 1px 2px 0px v.$borderColor;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: grab;
  z-index: 1;
  font-size: map-get(v.$fontSizes, medium);
  padding-left: map-get(v.$margins, small);

  &:hover {
    outline: 2px solid v.$blue;
    opacity: 1;
  }

  .icon {
    position: absolute;
    right: map-get(v.$margins, main);
    color: v.$transparentDark;
  }
}

.card-slot {
  z-index: 0;
  background-color: rgba(#000, 0.1);
}
