@use '../../../../styles/global' as v;

.card {
  border-radius: v.$primaryBorderRadius;
  border: 0.5px solid v.$border;
  box-shadow: 0px 1px 2px 0px v.$border;
  background-color: white;
  display: flex;
  align-items: center;

  .card_title {
    font-size: map-get(v.$fontSizes, medium);
    margin-left: map-get(v.$margins, smallest);
  }
}
