@use '/src/styles/global' as v;

.add-card {
  position: relative;
  width: 100%;

  & > * {
    width: 95%;
  }

  .add_btn {
    @include v.mainCreateButton(v.$light);

    margin: 0 auto map-get(v.$margins, smallest);
    color: hsl(0, 0%, 30%);

    &:hover,
    &:active {
      color: black;
    }
  }

  form {
    height: 95px;
    padding: 0 map-get(v.$margins, smallest);

    input {
      height: 50px;
      padding: map-get(v.$margins, small);
      border-radius: v.$primaryBorderRadius;
    }

    .btn_container {
      .submit_btn {
        padding: map-get(v.$margins, small);
      }
    }
  }
}
