@use '../../styles/global' as v;

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: v.$transparentDark;

  .progress-bar {
    border-radius: v.$primaryBorderRadius;
    height: 3px;
    background-color: v.$blue;
  }
}
