@use '../../styles/global' as v;

.loading {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: v.$transparentDark;
  display: flex;
  align-items: center;
  justify-content: center;
}
