$headersFontSize: 42px;
$titlesFontSize: 24px;
$mainFontSize: 18px;
$mainRadius: 10px;
$primarySize: 15px;
$secondarySize: 5px;
$listColor: hsl(0, 0, 95);
$boardColor: hsl(0, 0, 40);

$mainBorderColor: rgba(
  $color: #000,
  $alpha: 0.2,
);

@function white($lightness) {
  @return hsl(0, 0, $lightness);
}

@mixin btnEffects($bg) {
  transition: all 0.1s ease-in;

  &:hover {
    background-color: white(lightness($bg) - 10);
  }

  &:active {
    background-color: white(lightness($bg) - 15);
  }
}

@mixin button($bg) {
  @include btnEffects($bg);

  display: flex;
  align-items: center;
  text-align: left;
  height: 50px;
  padding-left: $primarySize;
  font-family: inherit;
  font-size: $mainFontSize;
  border-radius: $mainRadius;
  border: 0;
  cursor: pointer;
  background-color: $bg;
}

@mixin shadow {
  box-shadow: 0 $secondarySize $secondarySize 0 $mainBorderColor;
}

h1 {
  font-size: $headersFontSize;
}
