@use '../../../../styles/global' as v;

.create-board_modal {
  position: fixed;
  z-index: 1;
  top: 125px;
  height: 270px;
  width: 265px;
  background-color: white;
  border-radius: v.$primaryBorderRadius;
  border: 1px solid v.$borderColor;
  box-shadow: 0 0 map-get(v.$margins, small) 0 v.$borderColor;
  display: flex;
  flex-direction: column;
  padding: 0 map-get(v.$margins, small) map-get(v.$margins, main);

  .head {
    position: relative;
    display: flex;
    align-items: center;

    .heading {
      margin: map-get(v.$margins, small) 0;
      color: v.$dark;
      font-weight: 600;
      width: 75%;
      font-size: map-get(v.$fontSizes, small);
      text-align: center;
    }

    .close_btn {
      @include v.closeButton(white);

      position: absolute;
      right: 0;
      height: 35px;
      width: 35px;
      font-size: map-get(v.$fontSizes, medium);
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input,
    button {
      width: 100%;
    }

    label {
      color: black;
      font-weight: 600;
      font-size: map-get(v.$fontSizes, small);
      margin-bottom: map-get(v.$margins, smallest);
    }

    .background {
      position: relative;
      height: fit-content;
      width: 100%;
      color: black;
      display: flex;
      flex-direction: column;
      margin-bottom: map-get(v.$margins, small);

      button {
        border-radius: v.$sharpBorderRadius;

        &:hover {
          filter: brightness(0.9);
        }

        &:active {
          filter: brightness(0.85);
        }

        &.current {
          filter: brightness(0.9);
        }
      }

      .images-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-bottom: map-get(v.$margins, smallest);

        .image_btn {
          color: white;
          height: 45px;
        }
      }

      .colors-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;

        .color_btn {
          color: white;
          height: 30px;
        }
      }
    }

    .name_label {
      .required-star {
        color: red;
        font-size: map-get(v.$fontSizes, smallest);
        margin-left: 2px;
      }
    }

    .name_input {
      font-size: map-get(v.$fontSizes, small);
      font-weight: 300;
      height: 24px;
      padding: 18px map-get(v.$margins, small);
      margin-bottom: map-get(v.$margins, main);
    }

    .submit_btn {
      @include v.submitButton;

      height: 32px;
    }
  }
}
