@use '../../../../common/variables' as v;

.addListBtn {
  @include v.btnPattern;
  width: 400px;
  background-color: v.$cards-bg-color;
  margin-right: 72px
}

.addListForm {
  @include v.borderPattern;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 400px;
  box-shadow: none;
  background-color: v.$lists-bg-color;

  input[type="text"] {
    font-family: v.$font;
    font-size: 30px;
    width: 350px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    font-size: 28px;
    cursor: pointer;
  }
}
